@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }
    .header {
        height: 700px;
        background-image: none;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title {
            padding-top: 147px;
            font-size: 40px;
            text-align: center;
            padding-left: 40px;
            padding-right: 40px;
        }
        &__title::before {
            content: url(image/starmob/bigstarmob.png);
            position: absolute;
            right: 0;
            top: 0;
        }
        &__title::after {
            content: url(./image/starmob/Star2.svg);
            position: absolute;
            top: 97px;
            left: 37px;
        }
        &__star3::after {
            content: url(image/starmob/Star3.svg);
            position: absolute;
            top: 64px;
            left: 91px;
        }

        &__star4::after {
            content: url(image/starmob/Star4.svg);
            position: absolute;
            top: 580px;
            right: 34px;
        }
        &__star5::after {
            content: url(image/starmob/Star5.svg);
            position: absolute;
            top: 557px;
            right: 86px;
        }

        &__text {
            font-size: 16px;
            margin-bottom: 36px;
            text-align: center;
            line-height: 100%;
        }

        &__btn {
            font-size: 16px;
            align-items: center;
            padding: 16px 102px;
        }
    }

    .body {
        display: none;
    }

    .game {
        &__title {
            font-size: 40px;
            padding-top: 48px;
            padding-bottom: 48px;

            &::after {
                content: none;
            }
        }
        &__container {
             grid-column: 1 / -1;
            gap: 24px;
            padding-bottom: 10px;

            &::after {
                content: none;
            }
        }

        &__cart {
            
            display: flex;
            flex-direction: column;
            gap: 30px;
        }

        &__block {
            gap: 16px;
            margin-top: 0px;
            padding-left: 30px;
            padding-right: 30px;
            padding-bottom: 32px;

            &_right {
                margin-left: 0px;
            }
        }

        &__text {
            font-size: 32px;
        }
        &__description {
            font-size: 16px;            
        }

         &__btn {
        display: block;
        font-size: 16px;  
        align-items: center;    
        padding: 16px 110px;
        margin-top: 12px;
    }

    &__img {
        width: 100%;
    }
    }
    .footer {
    padding-top: 40px;
    padding-bottom: 40px;
    height: 20px;

    &__text {
        font-size: 16px;
    }
}
}
