.body {
  background-color: #202027;
  padding-top: 94px;
  padding-bottom: 96px;
  position: relative;
  z-index: 0;
}
.body__title {
  color: #fff;
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 24px;
}
.body__title::after {
  content: url(image/Starbig.svg);
  position: absolute;
  right: 0;
  top: 120px;
  z-index: -1;
}
.body__text {
  color: #fff;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 72px;
}
.body__text::after {
  content: url(image/Star11.svg);
  position: absolute;
  left: 25px;
  top: 770px;
  z-index: -1;
}
.body__about {
  display: grid;
  -moz-column-gap: 32px;
       column-gap: 32px;
  grid-template-columns: repeat(12, 1fr);
  align-items: start;
}
.body__about::after {
  content: url(image/Star12.svg);
  position: absolute;
  left: 40px;
  top: 822px;
  z-index: -1;
}
.body__cart {
  display: block;
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 36px;
  grid-column: span 4;
  text-decoration: none;
  color: #202027;
}
.body__cart_order {
  align-self: flex-end;
}
.body__number {
  display: inline-block;
  font-weight: 500;
  margin-top: 16px;
  margin-left: 32px;
  width: 80px;
  font-size: 16px;
  padding: 9px 16px 9px 16px;
  background-color: #f7f7f7;
  border-radius: 52px;
}
.body__name {
  font-weight: 700;
  font-size: 32px;
  margin-left: 32px;
  margin-right: 32px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #bded35;
  text-align: center;
}

.game {
  background-color: #202027;
  position: relative;
}
.game__title {
  font-size: 64px;
  color: #FFFFFF;
  padding-bottom: 72px;
}
.game__title::after {
  content: url(image/Star10.svg);
  position: absolute;
  bottom: 45px;
  right: 150px;
}
.game__container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 32px;
  padding-bottom: 144px;
}
.game__container::after {
  content: url(image/Star8.svg);
  position: absolute;
  bottom: 65px;
  right: 52px;
}
.game__cart {
  display: flex;
  gap: 48px;
  background-color: #FFFFFF;
  border-radius: 30px;
}
.game__cart_right {
  flex-direction: row-reverse;
}
.game__block {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
  margin-top: 48px;
  align-items: flex-start;
}
.game__block_right {
  align-items: flex-start;
  margin-left: 48px;
}
.game__text {
  font-size: 48px;
}
.game__description {
  font-size: 24px;
  font-weight: 400;
}
.game__btn {
  display: block;
  background-color: #202027;
  border-radius: 60px;
  text-decoration: none;
  color: #FFFFFF;
  padding: 16px 76px;
  margin-top: 12px;
  transition: all 0.3s ease;
}
.game__btn:hover {
  background-color: #fff;
  border: solid #000000 1px;
  color: #000000;
}

* {
  margin: 0;
  padding: 0;
}

.center {
  font-family: Montserrat;
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  background-color: #e1ff8f;
  height: 800px;
  background-image: url(image/header-star.png);
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
}
.header__title {
  padding-top: 196px;
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 24px;
}
.header__title::after {
  content: url(./image/Star2.svg);
  position: absolute;
  top: 94px;
  left: 63px;
}
.header__star3::after {
  content: url(image/Star3.svg);
  position: absolute;
  top: 69px;
  left: 156px;
}
.header__star4::after {
  content: url(image/Star4.svg);
  position: absolute;
  top: 568px;
  right: 344px;
}
.header__star5::after {
  content: url(image/Star5.svg);
  position: absolute;
  top: 538px;
  right: 455px;
}
.header__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 48px;
}
.header__btn {
  background-color: #202027;
  text-decoration: none;
  color: white;
  padding: 16px 65px;
  border-radius: 60px;
}
.header__btn:hover {
  background-color: #fff;
  border: solid #000000 1px;
  color: #000000;
}/*# sourceMappingURL=style.css.map */