@use "./aboutGame";
@use "./footer";
@use "./game";

* {
    margin: 0;
    padding: 0;
}
.center {
    font-family: Montserrat;
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header {
    background-color: #e1ff8f;
    height: 800px;
    background-image: url(image/header-star.png);
    background-repeat: no-repeat;
    background-position: right;
    position: relative;

    &__title {
        padding-top: 196px;
        font-size: 64px;
        font-weight: 700;
        margin-bottom: 24px;
    }   

    &__title::after {
        content: url(./image/Star2.svg);
        position: absolute;
        top: 94px;
        left: 63px;        
    }
    
    &__star3::after {
        content: url(image/Star3.svg);
        position: absolute;
        top: 69px;
        left: 156px;
    }
    &__star4::after {
        content: url(image/Star4.svg);
        position: absolute;
        top: 568px;
        right: 344px;
    }

    &__star5::after {
        content: url(image/Star5.svg);
        position: absolute;
        top: 538px;
        right: 455px;
    }

    &__text {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 48px;
    }

    &__btn {
        background-color: #202027;
        text-decoration: none;
        color: white;
        padding: 16px 65px;
        border-radius: 60px;

        &:hover {
            background-color: #fff;
            border: solid #000000 1px;
            color: #000000;
        }
    }
}
