@use "./aboutGame";
@use "./footer";
@use "./game";
@use "./header";
@use "./mobile";
* {
    margin: 0;
    padding: 0;
}
.center {
    font-family: Montserrat;
    @media (min-width: 768px) {
        padding-left: calc(50% - 600px);
        padding-right: calc(50% - 600px);
    }
}
